@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wdth,wght@100,800&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
    --color-primary: var(--aw-color-primary);
    --color-secondary: var(--aw-color-secondary);
    --color-accent: var(--aw-color-accent);
    --color-default: var(--aw-color-text-default);
    --color-muted: var(--aw-color-text-muted);
    --color-background: #B3E896;
    --color-background-2: #F5FFD9;
    --color-headline: #FBD467;

    --font-weight-extrablack: 1000; 

    --font-sans:
        'var(--aw-font-sans, ui-sans-serif)', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'var(--aw-font-serif, ui-serif)', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-heading: 'var(--aw-font-heading, ui-sans-serif)', ui-sans-serif, system-ui, sans-serif;
    --font-anek: 'Anek Tamil', sans-serif;
}

@utility bg-page {
  background-color: var(--aw-color-bg-page);
}

@utility bg-dark {
  background-color: var(--aw-color-bg-page-dark);
}

@utility bg-light {
  background-color: var(--aw-color-bg-page);
}

@utility text-page {
  color: var(--aw-color-text-page);
}

@utility text-muted {
  color: var(--aw-color-text-muted);
}

h3 {
  @apply text-lg font-black font-anek pt-2
}

.button-second {
  @apply bg-white lg:p-3 p-2 rounded-md ring-2 shadow-lg/20 hover:bg-gray-200 transition-colors duration-300 text-center
}

.button-third {
  @apply bg-background-2 lg:p-3 p-2 rounded-md ring-2 shadow-lg/20 hover:bg-gray-200 transition-colors duration-300 text-center
}