---
import Layout from "../components/Layout.astro";
---
<Layout pageTitle="PyG: Sobre nosotros">
    <div class="text-center pb-10 max-w-5xl mx-auto">
        <h1 class="text-5xl md:text-6xl font-bold leading-tighter mb-4 font-heading">
            ¿Qué es
            <span class="text-accent">Perrhijos y Gathijos</span>
            ?
        </h1>
        <p class="text-xl text-muted mb-6 text-left">
            Se observa la gran cantidad de animales en busca de hogar y lo dificil que es mantener una base de datos actualizada a través de redes sociales,
            como suelen hacer muchos de los refugios, grupos de rescate y personas idependientes de buen corazón. A causa de esto, nace la idea de facilitar la divulgación y acceso a esta información, 
            con el fin de ser una herramienta de apoyo para esta situación.
        </p>
        <p class="text-xl text-muted mb-6 text-left">
            Habiendo reconocido esto, <span class="font-semibold">Perrhijos y Gathijos</span> es un sitio web guatemalteco independiente, no asociado a ningún refugio o entidad, con la misión de centralizar de forma ordenada
            la mayor cantidad de información posible de animales en busca de una familia y hogar permanente, facilitando el acceso a esta oportunidad de una forma confiable y segura.
            
        </p>
        <h2 class="text-5xl md:text-6xl leading-tighter mb-4">
            Preguntas frecuentes (FAQ)
        </h2>
    </div>
</Layout>