---
import Layout from '../components/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout pageTitle="Perrhijos y Gathijos">
	<main>
		<Hero title="¡Adopta!" subtitle="No compres" legend="Toma la oportunidad de cuidar una vida" />
	</main>
</Layout>
