---
import '../styles/global.css';
---

<header class="sticky top-0 z-50 bg-background-2 border-b-2 border-gray-900">
    <nav aria-label="Global" class="mx-auto flex items-center p-5">
        <!-- Logo -->
        <div class="flex flex-1">
            <a href="/" class="-m-1.5 p-1.5">
                <span class="sr-only">Perrhijos y Gathijos</span>
                <img class="h-auto w-10" src="/icon-paw-64.png" alt="" />
            </a>
        </div>
        <!-- Mobile menu button -->
        <div class="flex justify-end lg:hidden">
            <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 dark:text-gray-400">
                <span class="sr-only">Open main menu</span>
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <!-- Desktop menu -->
        <div id="sitemap" class="hidden font-mono font-light text-gray-700 uppercase lg:flex lg:ml-auto lg:gap-x-12">
            <a href="/">Inicio</a>
            <a href="/">Conócelos</a>
            <a href="/">Refugios</a>
            <a href="/">Adopción</a>
            <a href="/about">Sobre nosotros</a>
        </div>
        <div class="hidden lg:flex">
            <a href="#" class="text-sm/6 py-2 px-4 ml-12 rounded-md bg-sky-300 font-semibold text-gray-900 dark:text-white">
                Iniciar sesión
                <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
    </nav>
</header>